body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile {
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 40px auto;
}

.pic1 {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.desc {
    padding: 0 20px;
}

.p1 {
    font-size: 15px;
    color: rgb(165, 165, 165);
}

.btn {
    color: rgb(63, 63, 247);
    padding: 10px 25px;
    font-size: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1.5px solid lightgray;
    background-color: white;
}